services:
  mariadb:
    container_name: mariadb
    restart: always
    build:
      context: ./containers/mariadb
      dockerfile: Dockerfile
      args:
        - DATA_DIR=/home/swaegene/data
    networks:
      - database
    volumes:
      - database:/home/swaegene/data
    secrets:
      - source: mariadb_root_password
      - source: mariadb_wordpress_password
    healthcheck:
      test: ["CMD", "healthcheck.sh"]
      interval: 10s
      timeout: 10s
      retries: 3
      start_period: 30s
  redis:
    container_name: redis
    restart: always
    build:
      context: ./containers/redis
      dockerfile: Dockerfile
      args:
        - DATA_DIR=/home/swaegene/data
    networks:
      - redis
    volumes:
      - files:/home/swaegene/data
    secrets:
      - source: redis_password
    healthcheck:
      test: ["CMD", "healthcheck.sh"]
      interval: 10s
      timeout: 10s
      retries: 3
      start_period: 30s
  wordpress:
    container_name: wordpress
    restart: always
    build:
      context: ./containers/wordpress
      dockerfile: Dockerfile
      args:
        - DATA_DIR=/home/swaegene/data
    networks:
      - database
      - server
      - redis
    depends_on:
      mariadb:
        condition: service_healthy
      redis:
        condition: service_healthy
    volumes:
      - files:/home/swaegene/data
    configs:
      - source: swaegene.42.fr_setup
        target: /home/swaegene/data/swaegene.42.fr/setup.sh
    secrets:
      - source: mariadb_wordpress_password
      - source: swaegene.42.fr_admin_password
      - source: swaegene.42.fr_user_password
      - source: redis_password
  nginx:
    container_name: nginx
    restart: always
    build:
      context: ./containers/nginx
      dockerfile: Dockerfile
      args:
        - DATA_DIR=/home/swaegene/data
    networks:
      - server
    ports:
      - 80:80
      - 443:443
    depends_on:
      - wordpress
      - adminer
    volumes:
      - files:/home/swaegene/data
    configs:
      - source: swaegene.42.fr_nginx
        target: /etc/nginx/sites-enabled/swaegene.42.fr.conf
      - source: adminer.42.fr_nginx
        target: /etc/nginx/sites-enabled/adminer.42.fr.conf
      - source: goaccess.42.fr_nginx
        target: /etc/nginx/sites-enabled/goaccess.42.fr.conf
    secrets:
      - source: swaegene.42.fr.crt
      - source: swaegene.42.fr.key
    healthcheck:
      test: ["CMD", "curl", "-f", "localhost"]
      interval: 10s
      timeout: 10s
      retries: 3
      start_period: 1m
  ftp:
    container_name: ftp
    restart: always
    build:
      context: ./containers/ftp
      dockerfile: Dockerfile
      args:
        - DATA_DIR=/home/swaegene/data
    ports:
      - 0.0.0.0:20:20
      - 0.0.0.0:21:21
      - 21100-21110:21100-21110
    volumes:
      - files:/home/swaegene/data
    secrets:
      - source: ftp_password
  adminer:
    container_name: adminer
    build:
      context: ./containers/adminer
      dockerfile: Dockerfile
      args:
        - DATA_DIR=/home/swaegene/data
    volumes:
      - files:/home/swaegene/data
    networks:
      - database
  goaccess:
    container_name: goaccess
    build:
      context: ./containers/goaccess
      dockerfile: Dockerfile
      args:
        - DATA_DIR=/home/swaegene/data
    depends_on:
      nginx:
        condition: service_healthy
    ports:
      - 9999:9999
      - 7890:7890
    volumes:
      - files:/home/swaegene/data

configs:
  swaegene.42.fr_nginx:
    file: ./sites/swaegene.42.fr/nginx.conf
  swaegene.42.fr_setup:
    file: ./sites/swaegene.42.fr/setup.sh
  adminer.42.fr_nginx:
    file: ./sites/adminer.42.fr/nginx.conf
  goaccess.42.fr_nginx:
    file: ./sites/goaccess.42.fr/nginx.conf

secrets:
  swaegene.42.fr.crt:
    file: ./secrets/swaegene.42.fr.crt
  swaegene.42.fr.key:
    file: ./secrets/swaegene.42.fr.key
  mariadb_root_password:
    file: ./secrets/mariadb_root_password
  mariadb_wordpress_password:
    file: ./secrets/mariadb_wordpress_password
  redis_password:
    file: ./secrets/redis_password
  swaegene.42.fr_admin_password:
    file: ./secrets/swaegene.42.fr_admin_password
  swaegene.42.fr_user_password:
    file: ./secrets/swaegene.42.fr_user_password
  ftp_password:
    file: ./secrets/ftp_password

volumes:
  files:
  database:

networks:
  database:
  server:
  redis: