services:
  nginx:
    container_name: nginx
    build:
      context: ./containers/nginx
      dockerfile: Dockerfile
      args:
        - DATA_DIR=/home/${USER}/data
    ports:
      - "8043:443"
      - "8080:80"
    depends_on:
      - wordpress
    volumes:
      - files:/home/${USER}/data
    configs:
      - source: swaegene.42.fr
        target: /etc/nginx/conf.d/swaegene.42.fr.conf
        uid: "33"
        gid: "33"
        mode: 0440
    secrets:
      - source: swaegene.42.fr.crt
        uid: "33"
        gid: "33"
        mode: 0440
      - source: swaegene.42.fr.key
        uid: "33"
        gid: "33"
        mode: 0440
  mariadb:
    container_name: mariadb
    build:
      context: ./containers/mariadb
      dockerfile: Dockerfile
      args:
        - DATA_DIR=/home/${USER}/data
    volumes:
      - database:/home/${USER}/data
    secrets:
      - source: mariadb_root_password
      - source: mariadb_wordpress_password
  wordpress:
    container_name: wordpress
    build:
      context: ./containers/wordpress
      dockerfile: Dockerfile
      args:
        - DATA_DIR=/home/${USER}/data
        - LOGIN_42=${USER}
    depends_on:
      - mariadb
    volumes:
      - files:/home/${USER}/data
    secrets:
      - source: mariadb_wordpress_password
      - source: swaegene.42.fr_admin_password
      - source: swaegene.42.fr_user_password

configs:
  swaegene.42.fr:
    file: ./sites/swaegene.42.fr/nginx.conf

secrets:
  swaegene.42.fr.crt:
    file: ./secrets/swaegene.42.fr.crt
  swaegene.42.fr.key:
    file: ./secrets/swaegene.42.fr.key
  mariadb_root_password:
    file: ./secrets/mariadb_root_password
  mariadb_wordpress_password:
    file: ./secrets/mariadb_wordpress_password
  swaegene.42.fr_admin_password:
    file: ./secrets/swaegene.42.fr_admin_password
  swaegene.42.fr_user_password:
    file: ./secrets/swaegene.42.fr_user_password

volumes:
  files:
  database: