services:
  nginx:
    container_name: nginx
    build:
      context: ./containers/nginx
      dockerfile: Dockerfile
      args:
        - DATA_DIR=/home/swaegene/data
    ports:
      - "443:443"
    depends_on:
      - wordpress
    volumes:
      - files:/home/swaegene/data
    configs:
      - source: swaegene.42.fr
        target: /etc/nginx/sites-enabled/swaegene.42.fr.conf
    secrets:
      - source: swaegene.42.fr.crt
      - source: swaegene.42.fr.key
  mariadb:
    container_name: mariadb
    build:
      context: ./containers/mariadb
      dockerfile: Dockerfile
      args:
        - DATA_DIR=/home/swaegene/data
    volumes:
      - database:/home/swaegene/data
    secrets:
      - source: mariadb_root_password
      - source: mariadb_wordpress_password
    healthcheck:
      test: ["CMD", "healthcheck.sh"]
      interval: 10s
      timeout: 10s
      retries: 3
      start_period: 30s
  wordpress:
    container_name: wordpress
    build:
      context: ./containers/wordpress
      dockerfile: Dockerfile
      args:
        - DATA_DIR=/home/swaegene/data
    depends_on:
      mariadb:
        condition: service_healthy
    volumes:
      - files:/home/swaegene/data
    secrets:
      - source: mariadb_wordpress_password
      - source: swaegene.42.fr_admin_password
      - source: swaegene.42.fr_user_password

configs:
  swaegene.42.fr:
    file: ./sites/swaegene.42.fr/nginx.conf

secrets:
  swaegene.42.fr.crt:
    file: ./secrets/swaegene.42.fr.crt
  swaegene.42.fr.key:
    file: ./secrets/swaegene.42.fr.key
  mariadb_root_password:
    file: ./secrets/mariadb_root_password
  mariadb_wordpress_password:
    file: ./secrets/mariadb_wordpress_password
  swaegene.42.fr_admin_password:
    file: ./secrets/swaegene.42.fr_admin_password
  swaegene.42.fr_user_password:
    file: ./secrets/swaegene.42.fr_user_password

volumes:
  files:
  database: